.imagenUcm{
     text-align: center;
     opacity:0.4;
     position: fixed;
     bottom:100px;
     right: 0;
     left: 0;
     margin-right: auto;
     margin-left: auto;
}
.circulo0 {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #f8fafc;
     border: 2px solid #555; 
}
.circulo1 {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #FBFCEA;
     border: 2px solid #555; 
}
.circulo2 {
    	width: 50px;
	height: 50px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
     border-radius: 50%;
     background: #EAF5FC;
     border: 2px solid #555; 
}
.circulo3 {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #EBFCEA;
     border: 2px solid #555; 
}
.circulo4 {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #F9EAFC;
     border: 2px solid #555; 
}
.fondo0 {
     background-color: #f8fafc
}
.fondo1 {
	background-color: #FBFCEA;
}
.fondo2 {
	background-color: #EAF5FC;
}
.fondo3 {
     background-color: #EBFCEA;
}
.fondo4 {
     background-color: #F9EAFC;
}
